<h1><%= @person.default_name %> - <%= @person.tbrc_rid %></h1>
<div style="width:30%;float:left;">
  <h2>JSON</h2>
  <pre>
  <%= @person_json %>
</pre>
</div>
<div style="width:70%;float:left;">
  <h2>RDF</h2>
  <%= @person_rdf %>	
</div>
